:root {
    font-size: 16px;
    font-family: 'Poppins';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    min-height: 100vh;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #23232e;
}

body::-webkit-scrollbar-thumb {
    background: #b6b6b6;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.navbar-bottom {
    margin-top: auto;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--text-primary);
    transition: fill var(--transition-speed);
}

.nav-link:hover svg {
    fill: var(--text-secondary);
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.nav-item button.nav-link {
    background: none;
    border: none;
    color: var(--text-primary);
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    text-decoration: none; /* Ensure no underline */
    width: 100%;
    text-align: left; /* Align text to the left */
}

.nav-item button.nav-link:hover,
.nav-item button.nav-link:focus {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-item button.nav-link svg {
    margin: 0 1.5rem;
    fill: var(--text-primary);
    transition: fill var(--transition-speed);
}

.nav-item button.nav-link:hover svg {
    fill: var(--text-secondary);
}

/* Subnet Calculator CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--bg-primary);
    margin: 2% auto;
    padding: 20px;
    width: 80%;
    max-width: 425px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
}

.modal-content h2 {
    color: var(--text-primary);
    margin-top: 0;
}

.close-button {
    color: var(--text-primary);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}

.close-button:hover,
.close-button:focus {
    color: #7e7e7e;
    text-decoration: none;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keypad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#ipInput {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.keys button {
    padding: 15px;
    font-size: 1.2em;
    background-color: var(--text-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.keys button:hover {
    background-color: #7e7e7e;
}

.subnet-selector {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subnet-selector label {
    font-size: 1.2em;
    color: var(--text-primary)
}

.subnet-selector select,
.subnet-selector input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.subnet-selector input[type="text"]:focus,
.subnet-selector select:focus {
    border-color: #007bff;
    outline: none;
}

.subnet-selector button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--text-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subnet-selector button:hover {
    background-color: #7e7e7e;
}

#subnetResult {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    color: var(--text-primary);
}

.calculator .calculate {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator .calculate:hover {
    background-color: #218838;
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        z-index: 1000;
        flex-direction: row;
    }   

    .navbar-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        padding-bottom: 6rem;
    }

    .link-text {
        display: none;
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 601px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        z-index: 1000;
    }   

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}